<!DOCTYPE html>
<html>
  <title>Album</title>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

</head>

<body>

  <ul>
    <li><a class="active" href="{{url_for('album')}}">Album</a></li>
    <li><a href="{{url_for('magazine')}}">Magazine</a></li>
    <li><a href="{{url_for('blog')}}">Blog</a></li>
  </ul>

  <div class="w3-container w3-teal">
    <h1>Holiday</h1>
  </div>

  <div class="w3-content">

    <div class="w3-row w3-margin">

      <div class="w3-third">
        <img src="{{url_for('static', filename='img/one.jpg')}}" style="width:100%;min-height:200px">
      </div>
      <div class="w3-twothird w3-container">
        <h2>5 Terre</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
        </p>
      </div>

    </div>
    <div class="w3-row w3-margin">

      <div class="w3-third">
        <img src="{{url_for('static', filename='img/two.jpg')}}" style="width:100%;min-height:200px">
      </div>
      <div class="w3-twothird w3-container">
        <h2>Monterosso</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
        </p>
      </div>

    </div>
    <div class="w3-row w3-margin">

      <div class="w3-third">
        <img src="{{url_for('static', filename='img/three.jpg')}}" style="width:100%;min-height:200px">
      </div>
      <div class="w3-twothird w3-container">
        <h2>Vernazza</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
        </p>
      </div>

    </div>
    <div class="w3-row w3-margin">

      <div class="w3-third">
        <img src="{{url_for('static', filename='img/four.jpg')}}" style="width:100%;min-height:200px">
      </div>
      <div class="w3-twothird w3-container">
        <h2>Manarola</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
        </p>
      </div>

    </div>
    <div class="w3-row w3-margin">

      <div class="w3-third">
        <img src="{{url_for('static', filename='img/five.jpg')}}" style="width:100%;min-height:200px">
      </div>
      <div class="w3-twothird w3-container">
        <h2>Corniglia</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
        </p>
      </div>

    </div>
    <div class="w3-row w3-margin">

      <div class="w3-third">
        <img src="{{url_for('static', filename='img/six.jpg')}}" style="width:100%;min-height:200px">
      </div>
      <div class="w3-twothird w3-container">
        <h2>Riomaggiore</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
        </p>
      </div>


</body>

</html>